@media screen and (max-width: 767px) {
    #sticky-wrapper { background: rgba(77,78,84,1); }
    .sticky-wrapper .navbar-collapse.collapse.in {
        background: rgba(77,78,84,1);
        width: 112%;
        margin-left: -14px;
        padding-left: 27px;
    }

    .logo { float: left; }
    .main-menu .navbar-toggle { float: right; margin: 17px 0; }
    .main-menu .nav li a {
        font-size: 14px;
        padding: 0px 1px 10px;
        display: inline-block;
    }
    
    .about-us h2 { font-size: 43px; }
    .about-us-txt { max-width: 450px; }

    .travel-budget h3 { margin-bottom: 20px; }
    .single-service-box { flex-direction: column; height: auto; }
    .service-content { margin: 0 auto; margin-top: 30px; }
    .single-package-item { max-width: 450px; margin: 0 auto; margin-bottom: 30px; }

    .single-special-offer { margin-bottom: 30px; }
    .home1-testm-single { max-width: 345px; margin: 0 auto; }

    .blog-content { max-width: 400px; margin: 30px auto; }
    .blog-content .thumbnail .thumbnail-img img, .thumbnail-img-overlay {
        width: 100%; margin-left: 0px;
    }
    .thumbnail-img-overlay { left: 0px; }

    .single-footer-item { margin-bottom: 30px; }
    .footer-logo { padding-top: 0; }
}

/* Punto de ruptura más pequeño */
@media screen and (max-width: 440px) {
    .desc-tabs .nav-tabs > li > a, .desc-tabs .nav-tabs > li.active > a {
        padding: 17px 10px 17px 10px;
        font-size: 12px;
    }

    .nav-tabs { border-bottom: 0; }
    .single-trip-circle:nth-child(2) { margin-left: 0px; }
    .trip-circle { flex-direction: column; }
    .about-view.travel-btn { width: 150px; }

    .filtr-item { max-width: 250px; }
    .home1-testm-txt p { font-size: 14px; max-width: 180px; }

    .dicount-offer-content h2 { font-size: 24px; }
    .single-package-item { max-width: 250px; margin: 0 auto; margin-bottom: 30px; }

    .about-view.packages-btn.offfer-btn { margin-right: 10px; }
    .custom-input-group .subscribe-btn { float: left; top: 76px; }
    .custom-input-group .form-control { padding-right: 0px; font-size: 13px; }
}
